<%= form_for @meme_image, url: upload_memes_path, html: {multipart: true} do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :meme, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :meme, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                upload_memes_path, :class => 'btn' %>
  </div>
<% end %>