<%= form_for @meme_caption, url: caption_meme_path(@meme_image), :html => { :class => 'form-horizontal' } do |f| %>
  <div>
    <%= draw_meme(@meme_caption) %>
  </div>
  <div class="control-group">
    <%= f.label :upper_caption, :Upper, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :upper_caption, :class => 'meme caption-upper' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lower_caption, :Lower, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lower_caption, :class => 'meme caption-lower' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                caption_meme_path(@meme_image), :class => 'btn' %>
  </div>
<% end %>
