<div class="page-header">
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_meme_image_meme_caption_path(@meme_image),
            :class => 'btn btn-primary' %>

<div>
  <% @meme_captions.each do |meme_caption| %>
    <div>
      <%= link_to meme_image_meme_caption_path(@meme_image, meme_caption) do %>
        <%= draw_meme(meme_caption, :mini) %>
      <% end %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_meme_image_meme_caption_path(@meme_image, meme_caption), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  meme_image_meme_caption_path(@meme_image, meme_caption),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </div>
    <tr>
      <td><%= link_to meme_caption.id, meme_image_meme_caption_path(@meme_image, meme_caption) %></td>
      <td><%= meme_caption.upper_caption %></td>
      <td><%= meme_caption.lower_caption %></td>
      <td><%= meme_caption.font %></td>
      <td><%= meme_caption.meme_image_id %></td>
      <td><%=l meme_caption.created_at %></td>
      <td>
      </td>
    </tr>
  <% end %>
</div>
