<%= form_for meme_image, url: form_url, html: {multipart: true} do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :meme, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :meme, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meme_images_path, :class => 'btn' %>
  </div>
<% end %>