<div class="page-header">
  <h3>Memes</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meme_images.each do |meme_image| %>
      <tr>
        <td><%= meme_image.name %></td>
        <td><%= image_tag meme_image.meme_url %></td>
        <td>
          <%= link_to "Captions", meme_image_meme_captions_path(meme_image) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_meme_image_path(meme_image), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      meme_image_path(meme_image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_meme_image_path,
            :class => 'btn btn-primary' %>
